.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
.color-background-1.gradient.book_appointment {
    text-align: center;
}
.book_appointment p.text {
    font-family: Montserrat;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding-bottom: 4rem;
}
.book_appointment .contact__fields {
    display: block;
}
.book_appointment form#ContactForm {
    max-width: 500px;
    margin: auto;
}
.book_appointment .field__input:focus-visible,
.book_appointment .field:hover.field:after,
.book_appointment .field:after {
    box-shadow: none;
}