.heading {
  font-size: clamp(40px, 4vw, 55px);
  letter-spacing: 5.3px;
  font-family: var(--font-heading-family);
  line-height: 1 !important;
  margin: 0;
  margin-bottom: 20px !important;
}
.heading.medium {
  font-size: 17px;
  letter-spacing: 1.7px;
}
.heading.small {
  font-size: 13px;
}

p.text,
.text p,
.text {
  font-family: var(--font-body-family);
  font-size: clamp(16px, 5vw, 18px);
  letter-spacing: 1.8px;
  line-height: 1.5;
}
p.text.small,
.text p.small,
.text.small {
  font-size: clamp(13px, 5vw, 15px);
  letter-spacing: 1.5px;
}
p.text.extraSmall,
.text p.extraSmall,
.text.extraSmall {
  font-size: 13px;
  letter-spacing: 1.3px;
}

.text a{
  color: inherit;
}




.custom-paddings {
  padding-top: var(--data-pt-mobile);
  padding-bottom: var(--data-pb-mobile);
}
@media only screen and (min-width: 992px) {
  .custom-paddings {
    padding-top: var(--data-pt-desktop);
    padding-bottom: var(--data-pb-desktop);
  }
}
